<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Styles/myown.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>My blog webapp</title>
</head>
<body>
    <div class="container">
        <div class="headers">
            <div class= "left-group">
                <div>
                    <div><img class="logo" src="/Images/S logo.png"></div>
                </div>
                <div class="head">
                    <div><a class="<%= activePage === 'home' ? 'active' : '' %>" href="/">Home</a> </div> <!--operator to check if the current page is home, if true add active class else add empty string-->
                    <div><a class="<%= activePage === 'login-page' && 'create-blog' ? 'active' : '' %>" href="/create-blog">Create-Blog</a></div> <!--operator to check if the current page is create-blog, if true add active class else add empty string-->
                    <div><a class="<%= activePage === 'blogs' ? 'active' : '' %>" href="/blogs">Blogs</a></div>  <!--operator to check if the current page is blogs, if true add active class else add empty string-->
                </div>
            </div>
            <div class="search-form">
                <form><input type="search" placeholder="Search..."></form>
            </div>
        </div>
    </div>
    <main>

                