</div>
<%- include("partials/header") %>
<div class= "create-cont">
    <h1>Create new Blog </h1>
    <form action="/myblog" method="POST" enctype="multipart/form-data" > 
        <!-- enctype="multipart/form-data" is necessary for file uploads -->
        <label for="full-name">Full Name</label>
        <input type="text" id="author-name" name="author-name" placeholder="Input your first and last name">
        <label for="heading">Heading</label>
        <input type="text" id="heading" name="heading" placeholder="Input your Blog Heading" required>

        <label for="sub-heading">Sub-heading</label>
        <input type="text" id="sub-heading" name="sub-heading" placeholder="Input your Blog Sub-heading" required>

        <label for="body">Body</label>  
        <textarea type="text" id="body" name="body" placeholder="Input your Blog 1st Paragraph" required></textarea>

        <P class="pg"><i>To add more paragraph, click the button below</i></P>
        <button type="button" class="add-btn">Add</button>

        <label for="image">Upload Blog Image: 
            <span id="note" style="color: blue; font-weight: 300; font-size: 0.9rem;"><i>File must not exceed 2MB</i></span>
            <span id="file-error" style="color: red; display: none; font-weight: 300; font-size: 0.9rem;"><i>File too large! Please upload a file under 2MB.</i></span>
        </label>
        <input type="file" id="image" name="image" accept="image/*"> 


        <input type="submit" value="Post" class="post-btn">

        <script>
            // Function to renumber all paragraphs
            function renumberParagraphs() {
                $(".new-pgs").each(function(index) {
                    let num = index + 2; // start from 2
                    $(this).find("label").text("Paragraph " + num); //add text to the label tag
                    $(this).find("textarea").attr("placeholder", "Input Paragraph " + num); // add value to the attr; placeholder
                    $(this).find("div").attr("id", "pg" + num); // add value to the attr; id
                    $(this).find("textarea").attr("name", "body" + num); // add value to the attr; name

                });
            }
            // ADD BUTTON
             // Adds new paragraph when the add button is clicked
            $(".add-btn").on("click", function () {
                let count = $(".new-pgs").length;

                if (count >= 9) { // limit to 10 paragraphs
                    alert("You can only add up to 10 paragraphs!");
                    return; // stop execution
                }
                var newParagraph = `
                    <div class = "new-pgs" id="mypg">
                        <div><label class= "added-label" for="body"> </label></div>
                        <div><button type = "button" class ="x">X</button></div>
                        <textarea type="text" id="body" name="body" placeholder="Input your Paragraph" required></textarea>
                        
                    </div>
                    `; 
                $(".pg").before(newParagraph);
                renumberParagraphs();
            });

            //   X BUTTON
            // Remove paragraph when "X" is clicked
            $(document).on("click", ".x", function () {
                $(this).closest(".new-pgs").remove(); //moves up the DOM from the button until it finds the nearest parent element with the class "new-pgs" and deletes it
                renumberParagraphs();
            });
            

            // IMAGE UPLOAD
            //Display the <p> file too large tag if file upload is larger than 2mb and change the input value for user to re-upload
            $("#image").on("change", function () { //the event listener "change" is when there is a change in the input field (i.e the value is empty untill a file is selected, then the function triggers)
                const file = this.files[0]; // Note: every <input> tag has .files property. The file array list of what was uploaded. files[0] is the first file in the list because i only allow one file to be uploaded
                const errorMsg = $("#file-error");

                if (file && file.size > 2 * 1024 * 1024) { // 2MB in bytes
                    errorMsg.show(); // Show error <span>
                    $("#note").hide(); // Hide the note <span>
                    this.value = ""; // Reset the file input
                } else {
                    errorMsg.hide(); // Hide error if valid
                }
            });
       </script>
    </form>
</div>

<button class="logout-btn" type="button" onclick="window.location.href='/logout'">Logout</button>


<%- include("partials/footer") %>
